<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Table</title>
</head>
<body>
<h1> User Table </h1>
<h3>
    <table border="1" style="width:600px" th:height="200px" >
        <thead>
        <tr>
            <th> Id </th>
            <th> Name </th>
            <th> LastName </th>
            <th> Age </th>
            <th> Password </th>
            <th> Role </th>

        </tr>
        </thead>
        <tbody>
        <tr th:block th:each="us : ${users}" align="center">
            <td th:text="${us.getId()}"></td>
            <td th:text="${us.getName()}"></td>
            <td th:text="${us.getLastName()}"></td>
            <td th:text="${us.getAge()}"></td>
            <td th:text="${us.getPassword()}"></td>
            <td th:text="${us.getAuthorities()}"></td>
        </tr >
        </tbody>
    </table>
</h3>
<h2> <button onclick="window.location.href = 'logout';">Logout</button></h2>
</body>
</html>